/* CSS Document */
*{ margin:0; padding:0}
img{ border:none;}
body{ font-family:"微软雅黑"; font-size:14px;color:#333;}
a{ text-decoration:none;}
ul{ list-style:none;}
input{outline:none;}
.clearfix:after{content:"."; display:block; clear:both; font-size:0; height:0; overflow:hidden;}
.clearfix{zoom:1;}
.left{ float:left;}
.right{ float:right;}
.wrapper{ width:1000px; margin:0 auto;}
.clr {clear:both;height:0}





/*banner*/
.m_banner{ background:#fff;height:529px; position:relative;}
.m_banner .banner{height:529px;width:100%; position:absolute;top:0;left:0; background-position:center top;}
.banner_ctrl{ height:100px;width:1000px;position:absolute;top:50%;left:50%;margin:-50px 0 0 -500px;z-index:2;}
.banner_ctrl a{ display:block;width:46px;height:77px; position:absolute;}
.banner_ctrl a.prev{left:0; background-position:0 -273px;}
.banner_ctrl a.next{right:0; background-position:-46px -273px;}
.banner_ctrl a.prev:hover{background-position:0 -197px;}
.banner_ctrl a.next:hover{ background-position:-46px -197px;}
.banner div{ position:relative; width:1000px; height:529px; margin:0 auto;}
.banner_dowBtn{  width:269px; height:91px; position:absolute; right:129px; bottom:154px; background:url(../images/downloadbtn.png) no-repeat;-webkit-animation: scaleOpacity .4s ease both infinite;-moz-animation: scaleOpacity .4s ease both infinite;animation: scaleOpacity .4s ease both infinite;}
@-webkit-keyframes scaleOpacity {
	0%{}
	50%{ transform:scale(1.05); }
	100%{}
}
@-moz-keyframes scaleOpacity {
	0%{}
	50%{ transform:scale(1.05);}
	100%{}
}
@keyframes scaleOpacity {
	0%{}
	50%{ transform:scale(1.05);}
	100%{}
}
.m_banner .banner .main_c{ position:relative;z-index:10;height:529px;}
.video_play{ background-position:-102px -379px; width:86px; height:86px; position:absolute; left:50%; top:50%; margin-top:-43px; margin-left:-43px; z-index:3;}
.video_play:hover{background-position:0 -378px;}
.video_play{ background-position:-102px -379px; width:86px; height:86px; position:absolute; left:50%; top:50%; margin-top:-43px; margin-left:-43px; z-index:3;}
.video_play:hover{background-position:0 -378px;}

.blackBg{ width:100%; height:100%; position:fixed; top:0; left:0; background-color:#000; opacity:0.6; z-index:9;}
.bannerVideo{ width:600px; height:501px; position:absolute; left:50%; top:50%; margin-left:-300px; margin-top:-251px; z-index:10;}
.videoListox{ position:relative;}

.video_close,.login_close{ width:30px; height:30px; position:absolute; top:0; right:0; background-position:0 -470px; z-index:11; cursor:pointer;}

.login,.login_copy{ width:721px; height:480px; background:url(../images/login.jpg) no-repeat top center ;   z-index:10;}
.login_box{ background:url(../images/loginbg.png) no-repeat; width:324px; height:335px; position:absolute; left:36px; top:20px; padding:35px; text-align:center;}
.login_box h2{ font-size:22px; margin-bottom:20px;}
.login_box h2 b{ font-size:26px; color:#f00;}
.login_box h3{ font-size:18px; margin-bottom:20px;}
.login_box h3 b{ font-size:22px; color:#f00;}
.login_box p{ margin-bottom:15px;}
.login_box p input{ width:271px; height:39px; border:1px solid #cc0033; border-radius:5px; padding-left:5px;}
.shortBox{ text-align:left; padding-left:23px;}
.login_box p input.shortInput{ width:125px;}
.clickWord{ background-color:#990000; color:#fff; margin-left:15px; cursor:pointer;}
.startBtn{background-color:#990000; color:#fff;cursor:pointer; font-size:22px; font-family:"黑体"; padding-left:0; width:276px; height:39px; line-height:39px; border-radius:5px; display:inline-block;}
/*footer*/
.footer{ background-color:#ededed;}
.friendly-href{ padding:22px 0; border-bottom:1px solid #d1d1d1;}
.friendly-href div div{ width:210px;}
.friendly-href div dl{ float:right;}
.friendly-href div dl dd{ text-align:center; line-height:32px;}
.friendly-href h2{ font-size:16px; font-weight:normal; margin-bottom:10px;}
.friendly-href a,.friendly-href li{ display:block; color:#808080; margin-top:6px; margin-right:18px;}
.friendly-href li.footertel{ font-size:26px; font-weight:bold; color:#e93030;}
.friendly-href a:hover {text-decoration: underline;}
.copyright{ text-align:center; color:#808080; line-height:24px; padding:25px 0; font-size:12px;}

/*首页*/
.content{ margin-top:75px;}
.content h2{ color:#e93030; font-size:18px; padding:15px 0; border-bottom:3px solid #b3b3b3; position:relative;}
.content h2 span{ position:absolute; left:0; bottom:-3px; height:3px; background-color:#e93030; width:80px;}

.contents{ margin-top:75px;}
.contents h5{ color:#e93030; font-size:18px; padding:15px 0; border-bottom:3px solid #b3b3b3; position:relative;}
.contents h5 span{ position:absolute; left:0; bottom:-3px; height:3px; background-color:#e93030; width:80px;}
.index-news{ width:300px; height:365px; overflow:hidden;}
.index-news ul li { border-bottom:1px solid #d6d6d6; line-height:180%; padding:2px 0px;}
.index-news ul li a{ color:#4c4c4c; display:block; height:60px; line-height:60px; padding-left:17px; background:url(../images/1.png) no-repeat center left}
.index-news ul li a:hover,.index-news ul li a.cur{ color:#e93030;background:url(../images/2.png) no-repeat center left}



.index-case{ width:620px; padding:0 20px; background-color:#f7f7f7; height:361px; overflow:hidden;}
.index-case li{ float:left; width:280px;border-bottom:1px solid #d6d6d6;}
.index-case li:nth-child(2n+1){ margin-right:60px;}
.index-case li a{ color:#808080; display:block; padding:17px 0;}
.index-case li a span{ display:block;}
.case-time{ color:#333; margin-bottom:10px;}
.case-time b{ color:#e93030; font-size:22px; font-weight:normal;}


.soft-download h2{ padding:75px 0; font-size:28px; font-weight:normal; text-align:center;}
.soft-download dl{ width:277px; margin-right:55px;}
.soft-download dl.last-child{ margin-right:0;}
.soft-download dd{ text-align:center; margin-top:10px;}
.soft-download dd a{ color:#e93030; text-decoration:underline; display:inline-block;}
.compare{ text-align:center; margin-top:60px; margin-bottom:100px;}
.compare a{ background:url(../images/border.png) no-repeat; width:220px; height:56px; line-height:56px; display:inline-block; color:#666; font-size:18px;}

.soft-brand{ background-color:#ededed; height:592px; padding-top:60px; margin-top:100px;}
.soft-brand h2{font-size:28px; font-weight:normal; text-align:center; margin-bottom:15px;}
.soft-brand h3{font-size:20px; font-weight:normal; text-align:center; margin-bottom:15px; color:#666;}

.computer{ width:477px; height:428px; background:url(../images/computer.png) no-repeat; position:relative;}
.computer a{ position:absolute; left:20px; top:20px;}
.computer a img{ width:431px; height:250px;}


.computer-index{ width:410px; padding-top:50px;}
.computer-index dl{ float:left; text-align:center; margin-right:75px; margin-bottom:55px;}
.computer-index dl.lastdl{ margin-right:0;}
.computer-index dl dt a{ display:block; width:66px; height:66px; line-height:67px; position:relative; overflow:hidden;}
.computer-index dl dt a img{ position:absolute; left:0; top:0;}
.computer-index dl dt a:hover img,.computer-index dl dt a img.cur{ top:-69px;}
.computer-index dl dd{ margin-top:10px;}


/*关于我们*/ 
.inner-banner{ width:100%; height:350px; background:url(../images/about-banner.jpg) no-repeat center; margin-bottom:40px;}
.aboutNav{ width:160px; padding:14px 18px; border:1px solid #ccc;}
.aboutNav h2{ padding-bottom:14px; font-size:16px; border-bottom:1px dashed #e0e0e0;}
.aboutNav ul{ padding-left:13px;}
.aboutNav ul li{ background-position:-184px -175px;border-bottom:1px solid #e0e0e0; padding:15px 20px;}
.aboutNav ul li a{ color:#333;}
.aboutNav ul li a:hover,.aboutNav ul li a.cur{ color:#e93030;}

.aboutDetil{ width:770px; margin-bottom:30px;}
.detailtab{ line-height:35px; border-bottom:1px solid #e0e0e0; color:#666; }
.aboutDetil div{}
.aboutDetil div p,.aboutDetil div ul{ text-indent:2em; color:#666; margin-top:30px; line-height:28px;}
.cardBox img{ margin:30px 30px 0 0;}
.cardBox p a{ float:right; color:#999;}

.aboutDetil div p.detailtab{ margin-top:0; text-indent:0;}



/*功能视频*/
.videoH2{ font-size:18px; font-weight:normal; margin:60px 0 20px 0;}
.soft-brief{ line-height:28px; margin:30px 0; color:#4c4c4c;}
.videoList{ background-color:#333; padding:30px 0 33px 20px; margin-bottom:90px;}
.videoList dl{ float:left; width:176px; margin-right:20px; margin-bottom:20px; color:#fff;}
.videoList dl dt img{ width:176px; height:120px;}
.videoList dl dd{ line-height:22px; width:176px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.font12{ font-size:12px;}

.videoBox{ height:500px; background-color:#1a1a1a;}
.videoul{ width:400px; height:500px; overflow:hidden;}
.videoul h3{ width:200px; height:50px; line-height:50px; text-align:center; color:#e93030; font-size:16px; font-weight:normal; background-color:#333;} 
.videoul ul{background-color:#333; padding:6px 0;}
.videoul ul li{ height:70px; line-height:35px; color:#e0e0e0;background-color:#4d4d4d; margin-bottom:10px;}
.videoul ul li a{ background-position:-150px -262px; display:block; height:35px; width:350px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#e0e0e0;  padding-left:50px;}
.videoul ul li span{ display:block; text-align:right; padding-right:30px;}
.videoul ul li span i{ font-style:normal;color:#e93030;}


.videoListox{ width:600px; height:501px; position:relative;}
.videoListox embed{ position:absolute; left:0; top:0;}

/*滚动条*/
.content-scroll{overflow: auto;position: relative;height: 450px;}
.mCustomScrollBox{ position: relative;overflow: hidden;height: 100%;max-width: 100%;outline: none;direction: ltr;}
.mCSB_container{ overflow: hidden;width: auto;height: auto;}
.mCSB_scrollTools{ position: absolute;width: 12px;height: auto;left: auto;top: 0;right: 0;bottom: 0;}
.mCSB_scrollTools .mCSB_draggerContainer{ position: absolute;top: 0;left: 0;bottom: 0;right: 0; height: auto;}
.mCSB_scrollTools .mCSB_draggerRail{width: 10px;height: 99.6%;margin: 0 auto;border:1px solid #383838;background-color: #4b4b4b;}
.mCSB_scrollTools .mCSB_dragger{ cursor: pointer;width: 100%;height: 30px;z-index: 1;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{position: relative;width: 10px;height: 100%;margin: 0 auto;text-align: center;background-color: #818181;}


/*软件下载*/
.inner-banner01{ background:url(../images/download-banner.jpg) no-repeat center;}
.download-list-box{ margin-bottom:50px;}
.download-list-box h3{ font-size:16px; margin-bottom:20px;}
.download-list-box h3 span{ font-size:14px; font-weight:normal;}
.download-list{ border:1px solid #e4e4e4;}
.soft-brief01{border-right:1px solid #e4e4e4; width:248px; height:339px; overflow:hidden;}
.soft-brief01 h4{ font-size:16px; font-weight:normal; text-align:center;border-bottom:1px solid #e4e4e4; height:39px; line-height:39px;} 
.soft-brief01 p{ line-height:22px; padding:28px 17px; color:#808080;}

.soft-detail{ width:374px; height:169px; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;}
.soft-detail-title{ height:39px; padding-left:36px; line-height:39px; color:#e93030; background-position:-163px -331px; }
.download-btn{ padding:10px 0 10px 14px; margin-bottom:10px;}
.download-btn a{ float:left; width:80px; height:24px; line-height:24px; background-position:0 -46px; text-align:center; color:#666; font-size:12px; margin-right:20px;}
.soft-num{ line-height:24px; color:#666; padding-left:14px;}
.soft-num span{ margin-right:15px;}

.soft-brief02{ width:622px; height:184px;}
.bordernone{ border:none;}
.borderrightnone{ border-right:none;}
.borderbottomnone{ border-bottom:none;}


/*支付中心*/
.online{ padding:30px 20px; padding-top:70px; border:1px solid #e7e7e7; box-shadow:0 0 5px #e7e7e7; margin:40px 0; position:relative; font-size:12px; background-color:#fff;}
.online h2{ width:102px; height:42px; line-height:36px; color:#fff; background-position: 0 -71px; text-align:center; font-size:16px; font-weight:normal; position:absolute; top:20px; left:-5px;}
.online h2.bank{background-position: 0 -116px;}
.pay-infor{ border-bottom:1px solid #e0e0e0;}
.pay-infor.bordernone{ border:none;}
.pay-infor h3{ color:#c41e1e; line-height:44px; font-weight:normal;}
.pay-infor p{ height:35px; line-height:35px;}
.pay-infor p label{ float:left; width:85px; height:35px; text-align:right; margin-right:10px;}
.pay-infor p span{ float:left; margin-right:10px;}
.pay-infor p span input{ margin-top:12px;}
.pay-infor p span input.priceInput{ width:46px; height:18px; border:1px solid #ccc; margin-top:9px; text-align:center;}
.buyNum{width:31px; height:18px; border-radius:3px; border:1px solid #d1d1d1; padding:0 7px;}
.buyNumT{width:85px; height:35px; line-height:35px; text-align:right; padding-right:10px;}
.typePrice span{ line-height:35px; margin-right:5px;}
.typePrice span input{ margin-top:11px;}



.self-infor input{ float:left; width:160px; height:26px; margin-top:4px; padding:0 9px; border:1px solid #ccc;}
.self-infor input.longinput{ width:491px;}
.self-infor input.inheritinput{ width:inherit; height:inherit; margin-top:12px; border:none;}
.self-infor p{ margin:10px 0;}
.self-infor input.next-step{ width:148px; height:36px; background-color:#e93030; border:1px solid #ccc; color:#fff; font-size:14px; margin-left:95px;}


#sjld{ position:relative;}
.m_zlxg{ width:138px; height:30px; line-height:30px;cursor:pointer;float:left;margin:0 10px 0 0;display:inline;}
.pay-infor p.select-add{ width:128px; height:26px; line-height:26px; padding-left:10px; overflow:hidden;border:1px solid #ccc; line-height:30px; color:#333333; font-size:12px; font-family:"微软雅黑";text-overflow:ellipsis; white-space:nowrap; margin:0;}
.m_zlxg2{ position:absolute; top:29px; border:1px solid #ccc;background:#fff; width:138px; display:none; max-height:224px;-height:224px; overflow-x:hidden; overflow-y:auto;white-space:nowrap;}
.m_zlxg2 li{line-height:28px;white-space:nowrap; padding-left:10px;font-family:"微软雅黑";color:#333; font-size:12px;}
.m_zlxg2 li:hover{ color:#e93030;}


.pay-infor h4{ font-size:12px; color:#e93030; font-weight:normal; margin-top:25px;}



div.pager {FONT-SIZE:12px; MARGIN:3px 0px;TEXT-ALIGN: center; float:right;}
div.pager A {border:#ccdbe4 1px solid; COLOR: #0061de; MARGIN-RIGHT: 3px; padding:5px 8px;}
div.pager A:hover {border:#ccdbe4 1px solid; padding:5px 8px; background:#3666d4; color:#FFF}
div.pager A:active {border:#2b55af 1px solid;FONT-WEIGHT: bold; padding:5px 8px;color:#FFF;}
.current {border:#2b55af 1px solid;FONT-WEIGHT: bold; padding:5px 8px; margin-right:3px;BACKGROUND-COLOR: #3666d4;color:#FFF;}



/*招商加盟*/
.join01{ background:url(../images/join01.jpg) no-repeat center; width:100%; height:328px;}
.join02{ background:url(../images/join02.jpg) no-repeat center; width:100%; height:224px;}
.join03{ background:url(../images/join03.jpg) no-repeat center; width:100%; height:234px;}
.join04{ background:url(../images/join04.jpg) no-repeat center; width:100%; height:220px;}
.join05{ background:url(../images/join05.jpg) no-repeat center; width:100%; height:227px;}
.join06{ background:url(../images/join06.jpg) no-repeat center; width:100%; height:269px;}
.join07{ background:url(../images/join07.jpg) no-repeat center; width:100%; height:296px;}
.join08{ background:url(../images/join08.jpg) no-repeat center; width:100%; height:238px;}
.join09{ background:url(../images/join09.jpg) no-repeat center; width:100%; height:403px;}
.join10{ background:url(../images/join10.jpg) no-repeat center; width:100%; height:310px;}
.join11{ background:url(../images/join11.jpg) no-repeat center top; width:100%; height:590px; padding-bottom:95px;}
.join12{ background:url(../images/join12.jpg) no-repeat center; width:100%; height:389px;}
.join_style{ padding-bottom:95px;}
.join_style p{font-size:16px; color:#333; width:580px; margin:20px 0 20px 227px;}
.join_style p span{ display:inline-block; margin-right:5px; color:#fff; width:22px; height:22px; background-color:#a7a7a7; border-radius:3px; text-align:center;}
.join_video{ width:436px; height:274px; background-color:#a9a9a9; margin-left:227px;}
.join_videoBtn{ color:#e93030; margin-top:240px;}
.join_videoBtn a{ background-color:#e93030; color:#fff; width:93px; height:29px; line-height:29px; border-radius:3px; display:inline-block; text-align: center;}
.join_bot_top{ height:45px; line-height:45px; font-size:18px; color:#fff;background-color:#e93030; text-align:center;}
.join_bot_top span{ font-size:22px; color:#ffed73;}
.join_input_left{ background:url(../images/join13.jpg) no-repeat; width:243px; height:360px; margin:30px 0 30px 25px;}
.join_input{ background-color:#f3f3f3;}
.join_input_top{ color:#fff; font-size:14px; width:220px; height:32px; line-height:32px; text-align:center; background-color:#e93030; margin:16px auto;}
.join_input_left ul{ width:220px; margin:0 auto;}
.join_input_left ul li{ border-bottom:1px dashed #dcdcdc; padding:8px 0;}
.join_input_left ul li strong{ color:#d60000; display:block; line-height:32px;}
.join_input_left ul li span{ color:#4c4c4c; display:block; font-size:12px; line-height:20px;}
.join_input_box{ width:620px; padding:30px 25px;}
.join_input_box p span{ color:#666; float:left; width:80px; height:24px; line-height:24px; font-size:12px; text-align:right; font-weight:normal;}
.join_input_box p{ padding:8px 0;}
.join_input_box p span b{ color:#e93030;}
.join_input_box p input{ width:146px; height:22px; line-height:24px; padding:0 5px; border:1px solid#dcdcdc; float:left; }
.join_input_box p  textarea{ width:360px; height:85px; border:1px solid #dcdcdc; padding:5px;}
.join_input_box p input.send{ background:url(../images/join14.jpg) no-repeat; width:128px; height:32px; line-height:32px; border:none;}
.join_input_box p i{ float:left; font-style:normal; font-weight:normal; font-size:12px; line-height:24px;}
.join_input_box p input.join_radio{ width:inherit; height:inherit; margin:5px;}
.join_tel img{ width:100%;}
.join_tel{ position:relative;}
.join_tel a{ position:absolute; right:24px; top:27px; width:115px; height:35px;}